@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.imgCard{
  width: 300px;
  height: 225px;
  object-fit: cover;
  border-bottom: 1px solid var(--border-color1);
  object-position:top;
  min-height: 225px;
}

.h1DogName{
  color: var(--font-color1);
  font-family: var(--items-font);
  text-align: center;
  font-size: 27px;
  border-bottom: 1px solid var(--border-color1);
  white-space: pre-line
}

.summary {
  list-style: none;
  cursor: pointer;
}

details summary:focus {
  outline: none;
}

.detailsModalOverlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: var(--blur-color);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
}
details[open] .detailsModalOverlay {
  pointer-events: all;
  opacity: 0.5;
}

@media (max-width: 805px){
  .imgCard{
    width: 100%;
    min-width: 100px;
    height: auto;
  }
}