.mainDiv{
    background-color: var(--containers-background);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

.ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 14px;
}

.ul a{
    color: black;
    text-decoration: none;
}

.buttonSearch {
    font-size: 20px;
    font-weight: 800;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
  }