.imgDetails {
    border: 2px solid var(--border-color1);
    width: 50%;
  }
  .detailsModal {
    max-width: 700px;
    width: 60%;
    padding: 15px;
    background: var(--containers-background);
    border-radius: 20px;
    box-shadow: 0 10px 10px var(--border-color1);
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    z-index: 11;
  }
  
  .detailsModal .detailsModalTitle {
    color: var(--font-color1);
    padding: 10px;
    pointer-events: all;
    position: relative;
    width: 100%;
  }
  .detailsModal .detailsModalTitle h1 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    line-height: normal;
  }
  .detailsModal .detailsModalContent {
    border-top: 1px solid var(--border-color1);
    padding: 2em;
    pointer-events: all;
    overflow: auto;
  }
  
  .ulAdvancedInfo{
    margin: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .ulAdvancedInfo li{
    color: var(--font-color1)
  }
  
  .ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
  }
  
  .ul li {
    border-radius: 10px;
    border: 1px solid var(--border-color1);
    padding: 5px;
    background-color: var(--items-color1);
    margin: 7px 2px;
  }
  
  .advancedDetails{
    display: flex;
    pointer-events: all;
  }
  
  @media (max-width: 1100px){
    .detailsModal{
      display: flex;
      flex-direction: column;
    }
    .advancedDetails{
      display: flex;
      flex-direction: column;
    }
    .imgDetails{
      width: 100%;
    }
  }