.imgDetails {
    border: 2px solid black;
    width: 50%;
  }
  .detailsModal {
    width: 40vw;
    padding: 15px;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
    left: 50%;
    pointer-events: none;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    display: flex;
    flex-direction: column;
    z-index: 11;
  }
  
  .detailsModal .detailsModalTitle {
    color: #111827;
    padding: 1.5em 2em;
    pointer-events: all;
    position: relative;
    width: calc(100% - 4.5em);
  }
  .detailsModal .detailsModalTitle h1 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
  }
  .detailsModal .detailsModalContent {
    border-top: 1px solid #e0e0e0;
    padding: 2em;
    pointer-events: all;
    overflow: auto;
  }
  
  .ulAdvancedInfo{
    margin: 10px;
    list-style: none;
  }
  
  .ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
  }
  
  .ul li {
    border-radius: 10px;
    border: 1px solid var(--border-color1);
    padding: 5px;
    background-color: var(--items-color1);
    margin: 7px 2px;
  }
  
  .advancedDetails{
    display: flex;
    pointer-events: all;
  }
  