:root{
  --button-color1: wheat;
  --backgrounds-color1: rgba(214, 150, 125, 0.24);
}

*{
  font-family: "Righteous", cursive;
}

body {  
  background-image: url("./img/background_landing-page.jpg");
  background-size:cover;
  background-repeat:repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0px;
  margin: 0px;
}