@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  font-family: "Righteous", cursive;
  padding: 0px;
  margin: 0px;
}

#root {
  min-height: 100vh;
}

.app{
  background-image: url("./img/background_dark.jpg");
}

body {
  background-repeat: repeat;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
