.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 73vh;
    margin-top: 20px;
}

.inputContainer h2{
    color: var(--font-color1)
}

.inputContainer input{
    font-size: 20px;
    background-color: var(--button-color1);
    color: var(--font-color1);
}

.inputContainer button{
    align-self: center;
}

.short{
    width: 22.3%;
}

.danger{
    color:red;
}

.none{
    display: none;
}

.buttonCreate{
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: var(--font-color1);
    font-size: 25px;
    width: 105px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}

.buttonCreate h3{
    position: absolute;
    font-size: 24px;
    transform: translateY(250%);
    transition: all 300ms cubic-bezier(0.43, 0.36, 0.33, 1.54);
}

.buttonCreate:hover h3{
    transform: translateY(30%);
}


.buttonCreate i {
    position: absolute;
    transition: all 300ms cubic-bezier(0.43, 0.36, 0.33, 1.54);
    font-size: 28px;
    transform: translate(-50%, 50%);
  }
  .buttonCreate:hover i {
    transform: translate(-50%, -100%);
  }