.imgLoading{
width: 70%;
}

.container{
    background-color: var(--containers-background);
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.container h1{
    color: var(--font-color1);
}