.divBody{
  height: auto;
  width: 400px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 20px black;
  padding:15px;
  margin: 15px 0px;
}

.ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ul li {
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  background-color: coral;
  margin: 7px 2px;
}