

.ulContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 805px){
    .divContainer{padding: 0px;
    width: 90%;
}
}